.date , .price , .time
{
    text-align: center;
    color: black;
    font-weight: 700;
}


.datetimeprice {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    float: none;
    background: #fff;
}

p.desc {
    line-height: 1.5;
    font-weight: 200;
}

